services:
    webserver:
        container_name: gym_server
        image: gym_server
        build:
            context: .
            args:
              db_name: gym
              db_host: database
              db_user: ${MYSQL_DB_USER}
              db_password: ${MYSQL_DB_PASSWORD}
        restart: always
        ports:
          - 127.0.0.1:8380:80
        networks:
          gymnet_backend:
            ipv4_address: 172.23.1.2
    database:
        container_name: gym_database
        image: mariadb
        restart: always
        environment:
            MYSQL_DATABASE: gym
            MYSQL_USER: ${MYSQL_DB_USER}
            MYSQL_PASSWORD: ${MYSQL_DB_PASSWORD}
            MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
        volumes:
            - db:/var/lib/mysql
            - ./database/scripts/init_db.sql:/docker-entrypoint-initdb.d/init.sql
        networks:
          gymnet_backend:
            ipv4_address: 172.23.1.3
            
networks:
  gymnet_backend:
    ipam:
      config:
        - subnet: 172.23.1.0/24
volumes:
    db:
